<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.tu_dresden.hangman">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/individual"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/individual_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Singleplayer" android:launchMode="singleInstance"/>
        <activity android:name=".Multiplayer" android:launchMode="singleInstance"/>
        <activity android:name=".Credits" android:launchMode="singleInstance"/>
        <activity android:name=".Score" android:launchMode="singleInstance"/>
        <activity android:name=".SingleplayerGame" android:launchMode="singleInstance" />
        <activity android:name=".MultiplayerWord" android:launchMode="singleInstance"/>
        <activity android:name=".MultiplayerGame" android:launchMode="singleInstance"/>
        <activity android:name=".Win" android:launchMode="singleInstance" />
        <activity android:name=".MultiplayerWord2" android:launchMode="singleInstance"/>
        <activity android:name=".MultiplayerGame2" android:launchMode="singleInstance"/>
        <activity android:name=".EndMultiplayer" android:launchMode="singleInstance"/>
    </application>

</manifest>