<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.tu_dresden.hangman">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/individual"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/individual_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Singleplayer" />
        <activity android:name=".Multiplayer" />
        <activity android:name=".Credits" />
        <activity android:name=".Score" />
        <activity android:name=".SingleplayerGame" />
        <activity android:name=".MultiplayerWord" />
        <activity android:name=".MultiplayerGame" />
        <activity android:name=".Win" />
        <activity android:name=".Lose" />
        <activity android:name=".MultiplayerWord2" />
        <activity android:name=".MultiplayerGame2" />
        <activity android:name=".EndMultiplayer"></activity>
    </application>

</manifest>